body {        
    font-family: 'Titillium Web', sans-serif;
    background-color: #FFFCFA;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    padding: 30px;
}

header {
    background-color: #A2D7D2;
    height: 110px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 100%;
    object-fit: contain;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

footer {
    background-color: #FAF0EA;
    padding: 10px;
}
button {
    background-color: #A2D7D2;
    border-radius: 20px;
}

#wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-content: center;
}

.equations {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px;
}

.punctuation {
    color: #79b1ab;
    font-size: 15;
    font-weight: bold;
}

.solution {
    color: #d48f64;
    font-weight: 700;
}
.bottom-row {
    margin: 0px 10px 0px 10px;
}